
.root{
	/*-fx-border-color: midnightblue;*/
    -fx-border-width: 1px;
    -fx-font-size: 8pt;
    -fx-font-family: "cursive";
    -fx-base: black;
    -fx-background: black;
    -fx-control-inner-background: rgb(10,10,10);
	
}

.dialog-pane{
	
    -fx-background-color: black;
    -fx-base:black;
    -fx-control-inner-background: black;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 2em; /* 14px */
    -fx-wrap-text: true;
    -fx-text-fill: white;
}

#painelDeTitulos{
	/*-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));*/
	-fx-background-color:radial-gradient(radius 180%,darkslategrey , derive(black, -30%), derive(black, 30%));  
	-fx-text-fill:white; 
}

/*-----------Campo de texto---------------- */
.text-field{
    -fx-border-color:mediumslateblue;
    -fx-border-color:teal;
    -fx-border-radius:1%;
}


